<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
	<div id="wrap">
		<section id="community_section01" class="potion">
			<div class="community_text">
				<h1>Community</h1>
				<h3>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
					<br>
					Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
					their exact original form.
				</h3>
			</div>
		</section>
		<section id="community_detail_section01">
			<!-- 작성자 외 수정버튼 미표시 -->
			<div class="detail_modify">
				<a class="detail_modify" th:href="@{|/community/modify/${board.id}|}" sec:authorize="isAuthenticated()"
					th:if="${board.writer != null and #authentication.getPrincipal().getUsername() == board.writer.memberId}">
					<button type="button" value="Modify">Modify</button></a>
			</div>
			<div class="detail_view_area potion">
				<div class="detail_category_area">
					<div th:if="${board.category} != null" th:text="|${board.category}|"></div>
					<div th:if="${board.location} != null" th:text="|${board.location}|"></div>
					<div th:if="${board.country} != null" th:text="|${board.country}|"></div>
				</div>
				<div class="detail_title" th:text="${board.title}"></div>
				<div class="detail_content" th:text="${board.content}"></div>
				<div class="detail_profile">
					<!-- by 장유란, Board 작성자 나타나게 수정(위치 임의), 클래스명 변경(제거)해도 정상작동 -->
					<div class="detail_profile_img">
						<!-- 작성자 프로필 사진 -->
					</div>
					<div class="detail_profile_info">
						<!-- 작성자 이름 -->
						<div class="detail_content_writer" th:if="${board.writer != null}" th:text="${board.writer.memberId}"></div>
						<!-- 작성자 국적 -->
						<div class="detail_content_writer_country" th:text="Korea"></div>
					</div>
				</div>
			</div>
			<div id="detail_answer_area" class="detail_answer_area potion">
				<div class="answer_text">Answer</div>
				<div class="answer_profile" sec:authorize="isAuthenticated()" >
				</div>
				<div class="detail_answer_input_area" sec:authorize="isAuthenticated()">
					<form th:action="@{|/answer/create/${board.id}|}" th:object="${answerForm}" method="post">
						<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="2"></textarea>
						<textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="2"></textarea>
						<div th:replace="community/form_errors :: formErrorsFragment"></div>
						<input type="submit" value="Confirm">
					</form>
				</div>
				<div class="detail_answer_list_area" th:each="answer : ${board.answerList}">
					<div class="answer_profile">
						<!-- answer profile -->
					</div>
					<div>
						<!-- 수정폼 -->
						<form th:id="${answer.id}" th:data-id="${answer.id}"
							th:action="@{|/answer/modify/${answer.id}|}" th:object="${answerForm}" method="post"
							style="position:absolute; visibility: hidden; margin-left:200px;">
							<div role="alert" th:if="${#fields.hasAnyErrors()}">
								<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
							</div>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<div class="detail_answer_modify">
								<label for="content" class="form-label"></label>
								<textarea th:field="*{content}" rows="2"></textarea>

								<div th:replace="community/form_errors :: formErrorsFragment"></div>
							</div>
							<input class="answer_modify_confirm_btn btn" type="submit" value="Confirm">
							<button class="answer_modify_cancle_btn" type="button">
								Cancle
							</button>
						</form>
						
						<!-- //수정폼 -->
						<a th:id="|answer_${answer.id}|" style="visibility: inherit">
							<div class="answer_date"
								th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
							<div class="answer_content" th:text="${answer.content}">
							</div>
						</a>
						<!-- 수정버튼, 차후에 권한부여 -->
						<div class="answer_option_section">
							<!-- th:href="@{|/answer/modify/${answer.id}|}" -->
							<a class="answer_modify" th:text="Modify" sec:authorize="isAuthenticated()"
								th:data-id="${answer.id}"
								th:if="${answer.writer != null and #authentication.getPrincipal().getUsername() == answer.writer.memberId}"></a>
							<a class="answer_delete" href="javascript:void(0);" sec:authorize="isAuthenticated()"
								th:if="${answer.writer != null and #authentication.getPrincipal().getUsername() == answer.writer.memberId}"
								th:data-uri="@{|/answer/delete/${answer.id}|}" th:text="Delete"></a>
						</div>
						<!-- by 장유란, 댓글 작성자 나타나게 수정(위치 임의), 위치, 클래스명 변경해도 정상작동 -->
						<div class="answer_writer" th:if="${answer.writer != null}" th:text="${answer.writer.memberId}">
						</div>
					</div>
				</div>
		</section>
	</div>
	<script>
		// by 장유란, 수정 토글(차후에 보완필요/ 수정취소 등)
		var sw = 0;

		$(document).ready(function () {
			$(".answer_modify").on('click', function (e) {
				let modify_btn = e.currentTarget;
				let delete_btn = modify_btn.offsetParent.children[1];
				let current_target = modify_btn.dataset.id;
				let modifyForm = document.getElementById(current_target);
				let answer_content = null;
				let content = null;
				if (sw == 0) {
					sw = 1;
					console.log(e)
					modifyForm.style.visibility = 'inherit';
					answer_content = "answer_" + current_target;
					modify_btn.style.visibility = 'hidden';
					delete_btn.style.visibility = 'hidden';
					content = document.getElementById(answer_content).children[1];
					content.style.visibility = 'hidden';
				} else {
					delete_btn.style.visibility = 'inherit';
					modify_btn.style.visibility = 'inherit';
					modifyForm.style.visibility = 'hidden';
					content.style.visibility = 'inherit';
					sw = 0;
				}
			});
		});

		const delete_elements = document.getElementsByClassName("answer_delete");
		Array.from(delete_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				if (confirm("Really?")) {
					location.href = this.dataset.uri;
				};
			});
		});

		$("#detail_answer_area").ready(function(){
			if(document.querySelector(".detail_answer_input_area") == null){
				document.querySelector(".detail_answer_list_area").style.top = '0';
			}
		})
	</script>
</div>

</html>