<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
	<div id="wrap">
		<section id="community_section01" class="potion">
			<div class="community_text">
				<h1>Community</h1>
				<h3>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
					<br>
					Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
					their exact original form.
				</h3>
			</div>
		</section>
		<section id="community_detail_section01">
		<!-- 작성자 외 수정버튼 미표시 -->
			<a class="detail_modify" th:href="@{|/community/modify/${board.id}|}" sec:authorize="isAuthenticated()" th:if="${board.writer != null and #authentication.getPrincipal().getUsername() == board.writer.memberId}">
				<button type="button" value="Modify">Modify</button></a>
			<div class="detail_view_area potion">
				<div class="detail_category_area">
					<div th:if="${board.category} != null" th:text="|${board.category}|"></div>
					<div th:if="${board.location} != null" th:text="|${board.location}|"></div>
					<div th:if="${board.country} != null" th:text="|${board.country}|"></div>
				</div>
				<div class="detail_title" th:text="${board.title}"></div>
				<div class="detail_content" th:text="${board.content}"></div>
				<!-- by 장유란, Board 작성자 나타나게 수정(위치 임의), 클래스명 변경(제거)해도 정상작동 -->
				<div class="게시글작성자명" th:if="${board.writer != null}" th:text="${board.writer.memberId}"></div>
				<div class="게시글작성자이메일" th:if="${board.writer != null}" th:text="${board.writer.email}"></div>
				<div class="게시글작성일시" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>

				<div class="detail_profile">

					<!-- contentor profile -->
				</div>
			</div>
			<div class="detail_answer_area potion">
				<div class="answer_text">Answer</div>
				<div class="answer_profile">
					<!-- answer profile -->
				</div>
				<div class="detail_answer_input_area">
					<form class="answer_modify" th:action="@{|/answer/create/${board.id}|}" th:object="${answerForm}"
						method="post">
						<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="2"></textarea>
						<textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="2"></textarea>
						<div th:replace="community/form_errors :: formErrorsFragment"></div>
						<input type="submit" value="Confirm" sec:authorize="isAuthenticated()">
					</form>
				</div>
				<div class="detail_answer_list_area" th:each="answer : ${board.answerList}">
					<div class="answer_profile">
						<!-- answer profile -->
					</div>
					<div>
						<!-- 수정폼 -->
						<form class="answer_modify" th:action="@{|/answer/modify/${answer.id}|}"
							th:object="${answerForm}" method="post" style="display: none; margin-left:200px;">

							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<div class="mb-3">
								<label for="content" class="form-label">수정폼</label>
								<textarea th:field="*{content}" rows="2"></textarea>
							</div>
							<input type="submit" value="저장하기" class="btn">
						</form>
						<!-- //수정폼 -->


						<a th:id="|answer_${answer.id}|">
							<div class="answer_date"
								th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
							<div class="answer_content" th:text="${answer.content}">
							</div>
						</a>

						<!-- 수정버튼, 차후에 권한부여 -->
						<div class="answer_option_section">
							<!-- th:href="@{|/answer/modify/${answer.id}|}" -->
							<a class="answer_modify" th:text="Modify" sec:authorize="isAuthenticated()" th:if="${answer.writer != null and #authentication.getPrincipal().getUsername() == answer.writer.memberId}"></a>
							<a class="answer_delete" href="javascript:void(0);" 
								sec:authorize="isAuthenticated()" th:if="${answer.writer != null and #authentication.getPrincipal().getUsername() == answer.writer.memberId}"
								th:data-uri="@{|/answer/delete/${answer.id}|}" th:text="Delete"></a>
							<!-- by 장유란, 댓글 작성자 나타나게 수정(위치 임의), 위치, 클래스명 변경해도 정상작동 -->
							<div class="answer_writer" th:if="${answer.writer != null}"
								th:text="${answer.writer.memberId}">
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>
</div>
<script>

	$(document).ready(function () {
		$(".answer_modify").on('click', function (e) {
			console.log("click");

		});
	});

	const delete_elements = document.getElementsByClassName("answer_delete");
	Array.from(delete_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("Really?")) {
				location.href = this.dataset.uri;
			};
		});
	});
</script>

</html>