<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#Penpal</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="wrap">
        <header id="header" class="potion">
            <h1 class="header_logo">
                <a href="/">#Penpal</a>
            </h1>
            <div class="header_navi">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/community">Community</a></li>
                </ul>
            </div>
            <div class="header_language">
                <select name="language" id="language" th:field="*{language}">
                    <option value="" selected>Languages</option>
                    <option th:each="language : ${language}" th:value="${language}" th:text="${language.name}"></option>
                </select>
            </div>
            <div class="header_login">
                <a href="/member/login">Login</a>
            </div>
        </header>
        <section id="community_section01" class="potion">
            <div class="community_text">
                <h1>Community</h1>
                <h3>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    <br>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                    their exact original form.
                </h3>
            </div>
            <div class="search">
                <input type="text" placeholder="Search">
                <button></button>
            </div>
            <div class="search_nationality">
                <select class="nation_select" name="location" id="location" th:field="*{location}">
                    <option value="" selected>Nationality</option>
                    <option th:each="location : ${location}" th:value="${location}" th:text="${location.name}"></option>
                </select>
            </div>
            <div class="search_country">
                <select class="country_select" name="country" id="country" th:field="*{country}">
                    <option value="" selected>Country</option>
                    <option th:each="country : ${country}" th:value="${country}" th:text="${country.name}"></option>
                </select>
            </div>
        </section>
        <section id="community_sectino02">
            <div class="community_contents">
                <div class="community_category">
                    <ul name="category" id="category" th:field="*{category}">
                        <button><li th:each="category : ${category}" th:value="${category}" th:text="${category.name}"></li>
                        </button>
                    </ul>
                </div>
                    <!-- 리스트 불러오는 loop문 -->
                <div class="community_bbs"  th:each="board, loop : ${paging}">
                    <div class="community_view view01">
  							<a th:href="@{|/community/detail/${board.id}|}">
							<div th:text="${board.category}"></div>
							<div th:text="${board.location}"></div>
							<div th:text="${board.country}"></div></a>
							<div th:text="${board.title}"></div>
                    </div>
                    <div class="community_view view02">
						
                    </div>
                    <div class="community_view view03">

                    </div>
                    <div class="community_view view04">

                    </div>
                    <div class="community_view view05">

                    </div>
                    <div class="community_view view06">

                    </div>
             		
                </div>
            </div>
            <div class="community_bbs_paging">
                <ul class="pagination">
                    <li><</li> 
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>></li>
                </ul>
            </div>
            <div class="community_write">
                <a href="/community/create">
                    <button type="button" class="create_write" title="Write">
                        Write
                    </button>
                </a>
            </div>
        </section>
    </div>
</body>

</html>