<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <title>#Penpal</title>
</head>

<body>
    <header id="postion">
        <nav th:replace="fragments/navBar :: navFragment"></nav>
    </header>

    <th:block layout:fragment="content"></th:block>

    <div sec:authorize="isAuthenticated()" th:replace="fragments/menu :: menuFragment"></div>

</body>
<script th:src="@{/js/main.js}"></script>

</html>