<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- <link rel="srylesheet" th:href="@{/fonts/fontawesome.min.css}"> -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <title>#Penpal</title>
</head>

<body>
    <header>
        <nav th:replace="fragments/nav_bar :: navFragment"></nav>
    </header>

    <th:block layout:fragment="content"></th:block>

    <div sec:authorize="isAuthenticated()" th:replace="fragments/menu :: menuFragment"></div>

</body>
<script th:src="@{/fonts/fontawesome.min.js}"></script>
<script th:src="@{/js/chat.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/friend.js}"></script>
</html>