<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head></head>
<body>
    <header th:replace="fragments/header :: headerFragment"></header>

    <div layout:fragment="content"></div>

    <div th:replace="fragments/menu :: menuFragment"></div>
    
    <div th:replace="fragments/friend_list :: friendListFragment"></div>
    <div th:replace="fragments/my_friends :: myFriendsFragment"></div>
    <div th:replace="fragments/request_friends :: requestFriendFragment"></div>

    <div th:replace="fragments/message_list :: messageListFragment"></div>
    <div th:replace="fragments/message_room :: messageRoomFragment"></div>
    <footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>