<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
	<div id="wrap">
		<form th:action="${loginMember.profile}!=null? @{/users/profile/modify} : @{/users/profile/create}" th:object="${profileForm}" method="post">
			<!-- 프로필 수정&등록 폼 -->
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
			</div>
			<section id="profile_section01">
				<div class="profile_function_btn_section">
					<button id="confirm_btn" class="profile_confirm_btn" type="submit" value="Confirm">
						Confirm
						<!-- 프로필 수정&등록 저장 버튼 -->
					</button>
					<button class="profile_cancle_btn" type="button" value="Cancle">
						Cancle
						<!-- 프로필 수정&등록 취소 버튼 -->
					</button>
				</div>
				<div class="profile_info_section01">
					<div class="profile_img">
						<!-- 프로필 이미지 -->
					</div>
					<button type="button" class="profile_img_upload_btn" value="UPLOAD">
						<!-- 프로필 이미지 수정&등록 버튼 -->
						upload
					</button>
					<div class="profile_info_data">
						<label for="nickname" class="form-label"></label>
						<input type="text" class="profile_name_form" th:field="*{nickname}">
						<!-- 유저네임 -->
						<div class="profile_info_left">
							<div class="profile_gender_form" name="gender">
								Gender<br>
								<label for="gender"></label>
								<input class="gender_select_btn disable" type="hidden" th:field="*{gender}" value="${gender}">
								<button class="gender_male_btn disable" type="button" name="gender" id="male">
									Male
								</button>
								<button class="gender_female_btn disable" type="button" name="gender" id="female">
									Female
								</button>
								<!-- 유저 성별 -->
							</div>
							<div class="profile_age_form">
								Age<br>
								<label for="age"></label>
								<input type="number" step="1" min = "0" max = "100" th:field="*{age}">
								<!-- 유저 연령 -->
							</div>
						</div>
						<div class="profile_info_right">
							<div class="profile_location_form">
								Nationality<br>
								<div class="write_nationality">
									<select class="nation_select" name="location" id="location" th:field="*{location}">
										<option value="" selected>Nationality</option>
										<option th:each="location : ${location}" th:value="${location}"
											th:text="${location.name}"></option>
									</select>
								</div>
								<!-- 유저 국적 -->
							</div>
							<div class="profile_country_form">
								Country<br>
								<div class="write_country">
									<select class="country_select" name="country" id="country" th:field="*{country}">
										<option value="" selected>Country</option>
										<option th:each="country : ${country}" th:value="${country}"
											th:text="${country.name}">
										</option>
									</select>
								</div>
								<!-- 유저 거주 국가 -->
							</div>
						</div>
					</div>
					<div class="profile_country_map">
						<!-- 유저 거주 국가 기반 지도상 위치 -->
					</div>
				</div>
			</section>
			<section id="profile_section02">
				<div class="profile_left_section">
					<div class="profile_sns_section">
						<h1>SNS</h1>
						<ul class="language_checkbox">
							<li class="language_selected">
								<div>
									<select th:field="*{sns1}">
										<option value="" selected>sns1</option>
										<option th:each="sns : ${sns}" th:value="${sns}"
											th:text="${sns.name}"></option>
									</select>
								</div>
							</li>
							<li class="language_selected">
								<div>
									<select th:field="*{sns2}">
										<option value="" selected>sns2</option>
										<option th:each="sns : ${sns}" th:value="${sns}"
											th:text="${sns.name}"></option>
									</select>
								</div>
							</li>
							<li class="language_selected">
								<div>
									<select th:field="*{sns3}">
										<option value="" selected>sns3</option>
										<option th:each="sns : ${sns}" th:value="${sns}"
											th:text="${sns.name}"></option>
									</select>
								</div>
							</li>
						</ul>
					</div>
					<div class="profile_favorite_section">
						<h1>FAVORITES</h1>
						<ul class="language_checkbox">
							<li class="language_selected">
								<div>
									<select th:field="*{favorite1}">
										<option value="" selected>favorite1</option>
										<option th:each="favorite : ${favorite}" th:value="${favorite}"
											th:text="${favorite.name}"></option>
									</select>
								</div>
							</li>
							<li class="language_selected">
								<div>
									<select th:field="*{favorite2}">
										<option value="" selected>favorite2</option>
										<option th:each="favorite : ${favorite}" th:value="${favorite}"
											th:text="${favorite.name}"></option>
									</select>
								</div>
							</li>
							<li class="language_selected">
								<div>
									<select th:field="*{favorite3}">
										<option value="" selected>favorite3</option>
										<option th:each="favorite : ${favorite}" th:value="${favorite}"
											th:text="${favorite.name}"></option>
									</select>
								</div>
							</li>
						</ul>
					</div>
					<div class="profile_language_section">
						<h1>LANGUAGES</h1>
						<ul class="language_checkbox">
							<li class="language_selected">
								<!-- th:if로 유저 LANGUAGE1 -->
								<div>
									<select th:field="*{language1}">
										<option value="" selected>Languages1</option>
										<option th:each="language : ${language}" th:value="${language}"
											th:text="${language.name}"></option>
									</select>
								</div>
							</li>
							<li class="language_selected">
								<!-- th:if로 유저 LANGUAGE2 -->
								<div>
									<select th:field="*{language2}">
										<option value="" selected>Languages2</option>
										<option th:each="language : ${language}" th:value="${language}"
											th:text="${language.name}"></option>
									</select>
								</div>
							</li>
							<li class="language_selected">
								<!-- th:if로 유저 LANGUAGE3 -->
								<div>
									<select th:field="*{language3}">
										<option value="" selected>Languages3</option>
										<option th:each="language : ${language}" th:value="${language}"
											th:text="${language.name}"></option>
									</select>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="profile_right_section">
					<div class="profile_comment_section">
						<h1>Comment</h1>
						<!-- 유저 comment -->
						<textarea class="profile_comment_area" th:field="*{comment}"></textarea>
					</div>
				</div>
			</section>
		</form>
	</div>
	<script>
		
		$("profile_sns_section").ready(function () {
			$("button").click(function (e) {
				if ($(this).children("i").hasClass("disable")) {
					$(this).children("i").removeClass("disable");
					
				} else {
					$(this).children("i").addClass("disable");
				}
			})
		}) // by 조성빈, sns 아이콘 클릭하면 색 변환 기능
	
		$("profile_favorite_section").ready(function (section) {
			$("button").click(function (e) {
				if ($(this).children("li").hasClass("disable")) {
					$(this).children("li").removeClass("disable");

				} else {
					$(this).children("li").addClass("disable");
				}
			})
		}) // by 조성빈, favorite tag 클릭하면 색 변환 기능

		$(".profile_gender_form").ready(function () {
			$("button").click(function (e) {
				if ($(".gender_male_btn").hasClass("disable")) {
					$(".gender_male_btn").removeClass("disable");
					$(".gender_female_btn").addClass("disable");
					document.querySelector('.gender_select_btn').value = 'Male';
				} else {
					$(".gender_female_btn").removeClass("disable");
					$(".gender_male_btn").addClass("disable");
					document.querySelector('.gender_select_btn').value = 'Female'
				}
			})
		}) // by 조성빈, gender button 클릭하면 남/여 전환 기능
		
		
		const confirm_btn = document.getElementById("confirm_btn");
		confirm_btn.addEventListener('click', function () {
			if($('.fa-twitter').hasClass('disable') == false){
				document.querySelector('.sns1_select_btn ').value='twitter'
			}
			if($('.fa-facebook-f').hasClass('disable') == false){
				document.querySelector('.sns2_select_btn ').value='facebook'
			}
			if($('.fa-instagram').hasClass('disable') == false){
				document.querySelector('.sns3_select_btn ').value='instagram'
			}
			document.getElementById('profileForm').submit();
	
		})
	</script>
</div>

</html>