<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	<title th:text="${board.title}">Document</title>
	<style>
		.answer_box {
			margin: 0 auto;
			width: 800px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 5px;
			background: beige;
			align-items: center;
		}

		a:not([href]):not([class]),
		a:not([href]):not([class]):hover {
			color: inherit;
			text-decoration: none;
		}
	</style>

</head>

<body>
	<h1 th:text="${board.title}"></h1>
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${board.content}"></div>
			<div class="d-flex justify-content-end">
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<!-- *작성자 표시*
							<span th:if="${board.writer != null}" th:text="${board.writer.memberId}"></span>
							-->
					</div>
					<div th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
			<div class="my-3">
				<!-- *(1) 아무나 수정 가능* -->
				<a th:href="@{|/community/modify/${board.id}|}" class="btn btn-sm btn-outline-secondary"
					th:text="수정"></a>
				<!-- *(2) 회원만 수정가능*
						<a th:href="@{|/community/modify/${board.id}|}" class="btn btn-sm btn-outline-secondary"
						sec:authorize="isAuthenticated()"
						th:if="${board.writer != null and #authentication.getPrincipal().getMemberId() == board.writer.memberId}"
						th:text="수정"></a> -->
				<!-- *(1) 아무나 수정 가능* -->
				<a href="javascript:void(0);" th:data-uri="@{|/community/delete/${board.id}|}"
					class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></a>
			</div>
		</div>
		<!-- 총 댓글 수 -->
		<h5 th:text="|${#lists.size(board.answerList)}개의 답변이 있습니다.|"></h5>
		<!-- 댓글입력 -->
		<form th:action="@{|/answer/create/${board.id}|}" th:object="${answerForm}" method="post">
			<textarea th:field="*{content}" rows="2"></textarea>
			<!-- *회원만 답글 가능*
				<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control"
					rows="10"></textarea>
				<textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control"
					rows="10"></textarea>
												-->

			<div th:replace="board/form_errors :: formErrorsFragment"></div>
			<input type="submit" value="UPLODE">
		</form>		
		<!-- //댓글입력 -->
		<!-- 댓글표시 -->
		<div th:each="answer : ${board.answerList}" class="answer_box">
			<div>
				<span th:if="${answer.writer != null}" th:text="${answer.writer.username}"></span></a>
				<a th:id="|answer_${answer.id}|">
					<span th:text="${answerStat.size - answerStat.index}"></span>
					<span th:text="${answer.content}"></span>
					<span th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}">
			</div>
			<!-- 수정버튼, 차후에 권한부여 -->
			<a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary" th:text="수정"></a>
		</div><!-- //댓글표시 -->
	</div>
	</div>
	<script>
		const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				if (confirm("정말로 삭제하시겠습니까?")) {
					location.href = this.dataset.uri;
				};
			});
		});
	</script>
</body>

</html>