<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div id="wrap">
        <section id="log_section01">
            <h2 class="login_text">Login</h2>
            <form name="loginForm" class="login_contents" th:action="@{/member/login}" method="post">
                <div class="field">
                    <input name="username" id="username" class="userid" type="text" placeholder="ID" th:value="${memberId}" >
                </div>
                <div class="field">
                    <input name="password" id="password" class="userpw" type="password" placeholder="PASSWORD">
                </div>
                <input class="login_btn" type="button" onclick="CheckLoginInput()" value="LOGIN"
                    style="cursor:pointer;">
            </form>
            <div class="login_contents">
                <a class="signup_btn" href="/member/signup">SIGN UP</a>
                <ul class="sns_login_btn">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </section>
    </div>
</div>

</html>