<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div id="wrap">
        <section id="users_section01">
            <div class="users_text">
                <h1>Users</h1>
                <h3>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    <br>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                    their exact original form.
                </h3>
            </div>
            <div class="search">
                <label for="search_kw"></label>
                <input type="text" id="search_kw" placeholder="Search" th:value="${kw}">
                <button type="button" id="btn_search"></button>
            </div>
            <div class="search_nationality">
                <select class="nation_select" name="location" id="location" th:field="*{location}">
                    <option value="" selected>Nationality</option>
                    <option th:each="location : ${location}" th:value="${location}" th:text="${location.name}"></option>
                </select>
            </div>
            <div class="search_country">
                <select class="country_select" name="country" id="country" th:field="*{country}">
                    <option value="" selected>Country</option>
                    <option th:each="country : ${country}" th:value="${country}" th:text="${country.name}"></option>
                </select>
            </div>
        </section>
        <section id="users_section02">
            <!-- 유저 약식 프로필 리스트  -->
            <div class="users_profiles">
                <div class="user_profile_view" th:each="profile : ${paging}">
                    <!-- 해당 뷰에 th:each 예정 -->
                    <div class="user_profile_img" onclick="location.href='/users/profile';">
                        <!-- 프로필 이미지 data -->
                    </div>
                        <!-- by 장유란, 프로필 유저 네임 추가 -->
                    <h3 class="user_profile_name" th:text="${profile.member.name}">
                        Username
                        <!-- 프로필 유저 네임 data -->
                    </h3>
                    <h5 class="user_profile_country">
                        Korea
                        <!-- 프로필 유저 국가 data -->
                    </h5>
                    <div class="user_profile_addline01"></div>
                    <div class="user_profile_sns">
                        SNS ICON Area
                        <!-- 프로필 유저 SNS data -->
                    </div>
                    <div class="user_profile_addline02"></div>
                    <div class="user_profile_favorite">
                        Favorites Tag Area
                        <!-- 프로필 유저 Favorites data -->
                    </div>
                </div>
            </div>
            <div class="users_paging">
                <!-- 유저 프로필 페이징 기능 -->
                <!-- by 장유란, 페이지 링크 추가 -->
                <div class="users_paging">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
							<span>
								<</span> </a> </li> <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                                                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                                                        th:classappend="${page == paging.number} ? 'active'" class="page-item">
                        <a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                    </li>
                        <!-- 검색기능, page-link 클릭 시 js 실행하여 문자(kw)값에 맞는 board검색하여 제출 -->
                        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                                <span>></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
<!--            by 장유란, form 추가-->
            <form th:action="@{/users}" method="get" id="searchForm">
                <input type="hidden" id="kw" name="kw" th:value="${kw}">
                <input type="hidden" id="page" name="page" th:value="${paging.number}">
                <input type="hidden" id="select_location" name="location">
                <input type="hidden" id="select_country" name="country">
            </form>
        </section>
    </div>
<script th:src="@{/js/search.js}"></script>
</div>

</html>