<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div id="wrap">
        <section id="profile_section01">
            <div class="profile_function_btn_section" sec:authorize="isAuthenticated()">
                <button type="button" value="MESSAGE">
                    MESSAGE
                    <!-- 채팅 보내기 버튼 -->
                </button>
                <button type="button" value="ADD FRIENDS">
                    ADD FRIENDS
                    <!-- 친구 요청 보내기 버튼 -->
                </button>
            </div>
            <div class="profile_info_section01">
                <div class="profile_img">
                    <!-- 프로필 이미지 -->
                </div>
                <div class="profile_info_data">
                    <div class="profile_name">
                        Username
                        <!-- 유저네임 -->
                    </div>
                    <h1 class="profile_last_date">
                        Last Date : yyyy-MM-dd
                        <!-- 유저 최근 접속일 -->
                    </h1>
                    <div class="profile_info_left">
                        <div class="profile_gender">
                            Gender : Male
                            <!-- 유저 성별 -->
                        </div>
                        <div class="profile_age">
                            Age : 26
                            <!-- 유저 연령 -->
                        </div>
                    </div>
                    <div class="profile_info_right">
                        <div class="profile_location">
                            Nationality : Korea
                            <!-- 유저 국적 -->
                        </div>
                        <div class="profile_country">
                            Country : Japan
                            <!-- 유저 거주 국가 -->
                        </div>
                    </div>
                </div>
                <div class="profile_country_map">
                    <!-- 유저 거주 국가 기반 지도상 위치 -->
                </div>
            </div>
        </section>
        <section id="profile_section02">
            <div class="profile_left_section">
                <div class="profile_sns_section">
                    <h1>SNS</h1>
                    <ul>
                        <li>
                            <!-- th:each로 유저 SNS -->
                        </li>
                    </ul>
                </div>
                <div class="profile_favorite_section">
                    <h1>FAVORITES</h1>
                    <ul>
                        <li>
                            <!-- th:each로 유저 FAVORITES -->
                        </li>
                    </ul>
                </div>
                <div class="profile_language_section">
                    <h1>LANGUAGES</h1>
                    <ul>
                        <li>
                            <!-- th:each로 유저 LANGUAGES -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile_right_section">
                <div class="profile_comment_section">
                    <h1>Comment</h1>
                    <div class="profile_comment_area">
                        <!-- 유저 comment -->

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</html>