<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div id="wrap">
        <section id="users_section01">
            <div class="users_text">
                <h1>Users</h1>
                <h3>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    <br>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                    their exact original form.
                </h3>
            </div>
            <div class="search">
                <input type="text" placeholder="Search">
                <button></button>
            </div>
            <div class="search_nationality">
                <select class="nation_select" name="location" id="location" th:field="*{location}">
                    <option value="" selected>Nationality</option>
                    <option th:each="location : ${location}" th:value="${location}" th:text="${location.name}"></option>
                </select>
            </div>
            <div class="search_country">
                <select class="country_select" name="country" id="country" th:field="*{country}">
                    <option value="" selected>Country</option>
                    <option th:each="country : ${country}" th:value="${country}" th:text="${country.name}"></option>
                </select>
            </div>
        </section>
        <section id="users_section02">
            <!-- 유저 약식 프로필 리스트  -->
            <div class="users_profiles">
                <div class="user_profile_view" th:each="profil : ${profilList}">
                    <!-- 해당 뷰에 th:each 예정 -->
                    <div class="user_profile_img" onclick="location.href='/users/profile';">
                        <!-- 프로필 이미지 data -->
                    </div>
                        <!-- by 장유란, 프로필 유저 네임 추가 -->
                    <h3 class="user_profile_name" th:text="${profil.member.name}">
                        Username
                        <!-- 프로필 유저 네임 data -->
                    </h3>
                    <h5 class="user_profile_country">
                        Korea
                        <!-- 프로필 유저 국가 data -->
                    </h5>
                    <div class="user_profile_addline01"></div>
                    <div class="user_profile_sns">
                        SNS ICON Area
                        <!-- 프로필 유저 SNS data -->
                    </div>
                    <div class="user_profile_addline02"></div>
                    <div class="user_profile_favorite">
                        Favorites Tag Area
                        <!-- 프로필 유저 Favorites data -->
                    </div>
                </div>
            </div>
            <div class="users_paging">
                <!-- 유저 프로필 페이징 기능 -->
            </div>
        </section>
    </div>
</div>

</html>