<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div id="wrap">
        <form>
            <!-- 프로필 수정&등록 폼 -->
            <section id="profile_section01">
                <div class="profile_function_btn_section">
                    <button class="profile_confirm_btn" type="button" value="Confirm">
                        Confirm
                        <!-- 프로필 수정&등록 저장 버튼 -->
                    </button>
                    <button class="profile_cancle_btn" type="button" value="Cancle">
                        Cancle
                        <!-- 프로필 수정&등록 취소 버튼 -->
                    </button>
                </div>
                <div class="profile_info_section01">
                    <div class="profile_img">
                        <!-- 프로필 이미지 -->
                    </div>
                    <button type="button" class="profile_img_upload_btn" value="UPLOAD">
                        <!-- 프로필 이미지 수정&등록 버튼 -->
                        upload
                    </button>
                    <div class="profile_info_data">
                        <input type="text" class="profile_name_form">
                        <!-- 유저네임 -->
                        <div class="profile_info_left">
                            <div class="profile_gender_form" name="gender">
                                Gender<br>
                                <button class="gender_male_btn disable" onclick="genderButton()" type="button" name="male">
                                    Male
                                </button>
                                <button class="gender_female_btn disable" onclick="genderButton()" type="button" name="female">
                                    Female
                                </button>
                                <!-- 유저 성별 -->
                            </div>
                            <div class="profile_age_form">
                                Age<br>
                                <input type="text" name="age">
                                <!-- 유저 연령 -->
                            </div>
                        </div>
                        <div class="profile_info_right">
                            <div class="profile_location_form">
                                Nationality<br>
                                <div class="write_nationality">
                                    <select class="nation_select" name="location" id="location" th:field="*{location}">
                                        <option value="" selected>Nationality</option>
                                        <option th:each="location : ${location}" th:value="${location}"
                                            th:text="${location.name}"></option>
                                    </select>
                                </div>
                                <!-- 유저 국적 -->
                            </div>
                            <div class="profile_country_form">
                                Country<br>
                                <div class="write_country">
                                    <select class="country_select" name="country" id="country" th:field="*{country}">
                                        <option value="" selected>Country</option>
                                        <option th:each="country : ${country}" th:value="${country}"
                                            th:text="${country.name}">
                                        </option>
                                    </select>
                                </div>
                                <!-- 유저 거주 국가 -->
                            </div>
                        </div>
                    </div>
                    <div class="profile_country_map">
                        <!-- 유저 거주 국가 기반 지도상 위치 -->
                    </div>
                </div>
            </section>
            <section id="profile_section02">
                <div class="profile_left_section">
                    <div class="profile_sns_section">
                        <h1>SNS</h1>
                        <ul>
                            <!-- script로 색상 전환, disable이 있으면 미선택(연한색) -->
                            <li class="sns_icon_selected checkbox">
                                <!-- 유저 SNS1 -->
                                <button type="button" name="twitter">
                                    <i class="fab fa-twitter disable"></i>
                                </button>
                            </li>
                            <li class="sns_icon_selected checkbox">
                                <!-- 유저 SNS2 -->
                                <button type="button" name="facebook">
                                    <i class="fab fa-facebook-f disable"></i>
                                </button>
                            </li>
                            <li class="sns_icon_selected checkbox">
                                <!-- 유저 SNS3 -->
                                <button type="button" name="instagram">
                                    <i class="fab fa-instagram disable"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="profile_favorite_section">
                        <h1>FAVORITES</h1>
                        <ul class="favorite_checkbox">
                            <!-- script로 색상 전환, disable이 있으면 미선택(연한색) -->
                            <button type="button" name="game">
                                <li class="favorite_selected checkbox disable">
                                    <!-- th:if로 유저 FAVORITE1 -->
                                    #<span>
                                        <!-- 여기에 선택한 favorite1 data -->
                                        Game
                                    </span>
                                </li>
                            </button>
                            <button type="button" name="travel">
                                <li class="favorite_selected checkbox disable">
                                    <!-- th:if로 유저 FAVORITE1 -->
                                    #<span>
                                        <!-- 여기에 선택한 favorite1 data -->
                                        Travel
                                    </span>
                                </li>
                            </button>
                            <button type="button" name="sports">
                                <li class="favorite_selected checkbox disable">
                                    <!-- th:if로 유저 FAVORITE1 -->
                                    #<span>
                                        <!-- 여기에 선택한 favorite1 data -->
                                        Sports
                                    </span>
                                </li>
                            </button>
                            <button type="button" name="cooking">
                                <li class="favorite_selected checkbox disable">
                                    <!-- th:if로 유저 FAVORITE1 -->
                                    #<span>
                                        <!-- 여기에 선택한 favorite1 data -->
                                        Cooking
                                    </span>
                                </li>
                            </button>
                            <button type="button">
                                <li class="favorite_selected checkbox disable">
                                    <!-- th:if로 유저 FAVORITE1 -->
                                    #<span>
                                        <!-- 여기에 선택한 favorite1 data -->
                                        Youtube
                                    </span>
                                </li>
                            </button>
                            <button type="button">
                                <li class="favorite_selected checkbox disable">
                                    <!-- th:if로 유저 FAVORITE1 -->
                                    #<span>
                                        <!-- 여기에 선택한 favorite1 data -->
                                        Netflix
                                    </span>
                                </li>
                            </button>
                            <button type="button">
                                <li class="favorite_selected checkbox disable">
                                    <!-- th:if로 유저 FAVORITE1 -->
                                    #<span>
                                        <!-- 여기에 선택한 favorite1 data -->
                                        Game
                                    </span>
                                </li>
                            </button>
                            <button type="button">
                                <li class="favorite_selected checkbox disable">
                                    <!-- th:if로 유저 FAVORITE1 -->
                                    #<span>
                                        <!-- 여기에 선택한 favorite1 data -->
                                        Game
                                    </span>
                                </li>
                            </button>
                        </ul>
                    </div>
                    <div class="profile_language_section">
                        <h1>LANGUAGES</h1>
                        <ul class="language_checkbox">
                            <li class="language_selected">
                                <!-- th:if로 유저 LANGUAGE1 -->
                                <div>
                                    <select name="language" id="language" th:field="*{language}">
                                        <option value="" selected>Languages</option>
                                        <option th:each="language : ${language}" th:value="${language}"
                                            th:text="${language.name}"></option>
                                    </select>
                                </div>
                            </li>
                            <li class="language_selected">
                                <!-- th:if로 유저 LANGUAGE1 -->
                                <div>
                                    <select name="language" id="language" th:field="*{language}">
                                        <option value="" selected>Languages</option>
                                        <option th:each="language : ${language}" th:value="${language}"
                                            th:text="${language.name}"></option>
                                    </select>
                                </div>
                            </li>
                            <li class="language_selected">
                                <!-- th:if로 유저 LANGUAGE1 -->
                                <div>
                                    <select name="language" id="language" th:field="*{language}">
                                        <option value="" selected>Languages</option>
                                        <option th:each="language : ${language}" th:value="${language}"
                                            th:text="${language.name}"></option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="profile_right_section">
                    <div class="profile_comment_section">
                        <h1>Comment</h1>
                        <!-- 유저 comment -->
                        <textarea class="profile_comment_area"></textarea>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <script>
        $("profile_sns_section").ready(function () {
            $("button").click(function () {
                if ($(this).children("i").hasClass("disable")) {
                    $(this).children("i").removeClass("disable");
                } else {
                    $(this).children("i").addClass("disable");
                }
            })
        }) // by 조성빈, sns 아이콘 클릭하면 색 변환 기능

        $("profile_favorite_section").ready(function () {
            $("button").click(function () {
                if ($(this).children("li").hasClass("disable")) {
                    $(this).children("li").removeClass("disable");
                } else {
                    $(this).children("li").addClass("disable");
                }
            })
        }) // by 조성빈, favorite tag 클릭하면 색 변환 기능
    </script>
    <script>
        function genderButton(e) {
            if ($(".profile_gender_form").children("button").click(e)) {
                if ($(".gender_male_btn").hasClass("disable")) {
                    $(".gender_male_btn").removeClass("disable");
                    $(".gender_female_btn").addClass("disable");
                } else {
                    $(".gender_female_btn").removeClass("disable");
                    $(".gender_male_btn").addClass("disable");
                }
            }
        } // by 조성빈, gender button 클릭하면 남/여 전환 기능
    </script>
</div>

</html>