<div th:fragment="friendListFragment">
    <div id="pop_friend" class="modal_bg" style="display : none;">
        <div class="modal_wrap pop_friend">
            <button type="button" onclick="closePop()">X
            </button>
            <div class="friend_list_function_btn">
                <button class="friend_list_btn active" type="button" onclick="getFriend()">FRIEND</button>
                <button class="friend_request_btn" type="button" onclick="getFriendRequest()">REQUEST</button>
            </div>
            <div class="friend_list_section">
                <div id="my_friends" class="my_friends active">
                    <div th:replace="fragments/my_friends :: myFriendsFragment"></div>
                </div>
                <div class="request_friend">
                    <div th:replace="fragments/request_friend :: requestFriendFragment"></div>
                </div>
            </div>
        </div>
    </div>
</div>