<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/config :: configFragment">
</head>
<div th:fragment="friendListFragment">
    <div id="pop_friend" class="modal_bg" style="display : none;">
        <div class="modal_wrap">
            <button type="button" onclick="closePop()">X
            </button>
            <div>
                FRIEND
            </div>
        </div>
    </div>
</div>
</html>