<div th:fragment="menuFragment">
    <div id="menu_section">
        <button id="menu_btn" onclick="sideMenuFunc()">
            <span>MENU</span>
        </button>
        <div id="menu_content">
            <div class="menu_profile_section">
                <div class="menu_profile_img">
                    <!-- 프로필 이미지 영역 -->
                </div>
                <div class="menu_profile_info">
                    <!-- 프로필 정보 영역 -->
                    <span class="menu_profile_username">
                        <!-- 이름 -->
                        [[${loginMember.name}]]
                    </span><br>
                    <span class="menu_profile_nationality" th:if="${loginMember.profile != null}">
                        <!-- 국적 -->
                        [[${loginMember.profile.country}]]
                    </span>
                    <div class="menu_profile_flag">
                        <!-- 국가 아이콘 -->
                    </div>
                </div>
            </div>
            <div class="menu_friend_section">
                <div class="menu_text">
                    <span>FRIEND</span>
                    <a id="pop_btn" href="javascript:openPopFriend()">+</a>
                </div>
                <ul id="friendList" class="menu_friend_list">
                    <!-- 친구 리스트 -->
                    <li class="menu_friend">
                        <div class="menu_friend_profile_name">
                            <!-- 친구 이름 -->
                            Unknown
                        </div>
                        <div class="menu_friend_profile_on_icon">
                            <!-- 친구 온라인 상태 아이콘 -->
                            <!-- 온라인 상태인 친구만 띄우기 -->
                            <i class="far fa-user"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu_message_section">
                <div class="menu_text">
                    <span>MESSAGE</span>
                    <a id="pop_btn" href="javascript:openPopMessage()">+</a>
                </div>
                <ul class="menu_message_list">
                    <!-- 메시지 리스트 -->
                    <li class="menu_message">
                        <div class="menu_message_profile_img">
                            <!-- 친구 프로필 이미지 영역 -->
                        </div>
                        <div class="menu_message_profile_name">
                            <!-- 친구 이름 -->
                            Unknown
                        </div>
                        <div class="menu_message_profile_on_icon">
                            <!-- 신규 메시지 알림 아이콘 -->
                            <!-- 최근 대화자 순서 -->
                            <i class="far fa-envelope"></i>
                        </div>
                    </li>
                    <li class="menu_message">
                        <!-- 영역 확인용, 첫 li에 th:each 걸면 삭제 -->
                    </li>
                    <li class="menu_message">
                        <!-- 영역 확인용, 첫 li에 th:each 걸면 삭제 -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:replace="fragments/friend_list :: friendListFragment"></div>
    <div th:replace="fragments/message_list :: messageListFragment"></div>
    <script th:inline="javascript">
    // by 구양근, 외부 파일로 사용시 타임리프 값을 못 불러와서 안에 선언
    	let member = /*[[${loginMember}]]*/ "로그인 멤버";
        console.log(member);
        // by 구양근, 30초 마다 리스트 갱신
        setInterval(function(){
			getRoom();
		},30000);
        
    </script>
</div>
