<div th:fragment="messageListFragment">
    <div id="pop_message" class="modal_bg" style="display : none;">
        <div class="modal_wrap">
            <div class="message_list_section">
                <a id="pop_btn" class="pop_message" href="javascript:openMessageRoom()">
                    <div class="message_list_view">
                        <div class="message_profile_img">
                            <!-- message 보낸 사람 프로필 이미지 -->
                        </div>
                        <div class="message_profile_name">
                            <!-- message 보낸 사람 이름 -->
                            Unknown
                        </div>
                        <div class="message_content">
                            <!-- message 내용, 최대 세 줄 미리보기 -->
                        </div>
                        <div class="message_new_count">
                            <!-- 새로운 message 카운팅 -->
                            <span>1</span>
                        </div>
                        <button type="button" id="message_room_delete_btn" value="DELETE">
                            Delete
                        </button>
                        <!-- 채팅방 삭제 버튼 -->
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/message_room :: messageRoomFragment"></div>
</div>