<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/config :: configFragment">
</head>
<div th:fragment="myFriendsFragment">
    <div class="my_friend_section"><!-- 작업 끝나면 border 지울 예정 -->
        <div class="my_friend_img">
            <!-- 친구 프로필 이미지 -->
        </div>
        <div class="my_friend_info">
            <div class="my_friend_name">
                Unknown <!-- 친구 이름 -->
            </div>
            <div class="my_friend_nationality">
                United States <!-- 친구 국적 -->
            </div>
        </div>
        <div class="my_friend_comment">
            <!-- 친구 코멘트 -->
            최대 세 줄 까지 출력됨
        </div>
    </div>
    <div class="my_friend_section">
        <div class="my_friend_img">
            <!-- 친구 프로필 이미지 -->
        </div>
        <div class="my_friend_info">
            <div class="my_friend_name">
                Unknown <!-- 친구 이름 -->
            </div>
            <div class="my_friend_nationality">
                United States <!-- 친구 국적 -->
            </div>
        </div>
        <div class="my_friend_comment">
            <!-- 친구 코멘트 -->
            each 걸면 지울 칸
        </div>
    </div>
    <div class="my_friend_section">
        <div class="my_friend_img">
            <!-- 친구 프로필 이미지 -->
        </div>
        <div class="my_friend_info">
            <div class="my_friend_name">
                Unknown <!-- 친구 이름 -->
            </div>
            <div class="my_friend_nationality">
                United States <!-- 친구 국적 -->
            </div>
        </div>
        <div class="my_friend_comment">
            <!-- 친구 코멘트 -->
            each 걸면 지울 칸
        </div>
    </div>
    <div class="my_friend_section">
        <div class="my_friend_img">
            <!-- 친구 프로필 이미지 -->
        </div>
        <div class="my_friend_info">
            <div class="my_friend_name">
                Unknown <!-- 친구 이름 -->
            </div>
            <div class="my_friend_nationality">
                United States <!-- 친구 국적 -->
            </div>
        </div>
        <div class="my_friend_comment">
            <!-- 친구 코멘트 -->
            each 걸면 지울 칸
        </div>
    </div>
    <div class="my_friend_paging">
        <!-- 페이징 영역-->
    </div>
</div>

</html>