<div th:fragment="myFriendsFragment">
	<div id="myFriendSection">
	    <div class="my_friend_section">
	        <!-- 작업 끝나면 border 지울 예정 -->
	        <div class="my_friend_img">
	            <!-- 친구 프로필 이미지 -->
	        </div>
	        <div class="my_friend_info">
	            <div class="my_friend_name">
	                Unknown
	                <!-- 친구 이름 -->
	            </div>
	            <div class="my_friend_nationality">
	                United States
	                <!-- 친구 국적 -->
	            </div>
	        </div>
	        <div class="my_friend_comment">
	            <!-- 친구 코멘트 -->
	            최대 세 줄 까지 출력됨
	        </div>
	        <div class="friend_btn_section">
	            <button type="button" class="friend_remove_btn">
	                Delete
	            </button>
	            <!-- <button type="button" class="friend_message_btn">
	                Message
	            </button> by 조성빈, 필요한가 조금 애매해서 주석 처리 -->
	        </div>
	    </div>
	</div>
    <div class="my_friend_paging">
        <!-- 페이징 영역-->
    </div>
</div>