<div th:fragment="requestFriendFragment">
    <div class="request_friend_section">
        <div class="request_friend_img">
            <!-- 친구 프로필 이미지 -->
        </div>
        <div class="request_friend_info">
            <div class="request_friend_name">
                Stranger
                <!-- 요청 보낸 친구 이름 -->
            </div>
            <div class="request_friend_nationality">
                Japan
                <!-- 요청 보낸 친구 국적 -->
            </div>
        </div>
        <div class="request_friend_btn">
            <ul>
                <li>
                    <!-- 수락 버튼 -->
                    <button class="accept_btn" type="button">ACCEPT</button>
                </li>
                <li>
                    <!-- 거절 버튼 -->
                    <button class="refuse_btn" type="button">REFUSE</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="request_friend_section">
        <div class="request_friend_img">
            <!-- 친구 프로필 이미지 -->
        </div>
        <div class="request_friend_info">
            <div class="request_friend_name">
                each 걸면 지울 칸
                <!-- 요청 보낸 친구 이름 -->
            </div>
            <div class="request_friend_nationality">
                Japan
                <!-- 요청 보낸 친구 국적 -->
            </div>
        </div>
        <div class="request_friend_btn">
            <ul>
                <li>
                    <!-- 수락 버튼 -->
                    <button class="accept_btn" type="button">ACCEPT</button>
                </li>
                <li>
                    <!-- 거절 버튼 -->
                    <button class="refuse_btn" type="button">REFUSE</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="request_friend_section">
        <div class="request_friend_img">
            <!-- 친구 프로필 이미지 -->
        </div>
        <div class="request_friend_info">
            <div class="request_friend_name">
                each 걸면 지울 칸
                <!-- 요청 보낸 친구 이름 -->
            </div>
            <div class="request_friend_nationality">
                Japan
                <!-- 요청 보낸 친구 국적 -->
            </div>
        </div>
        <div class="request_friend_btn">
            <ul>
                <li>
                    <!-- 수락 버튼 -->
                    <button class="accept_btn" type="button">ACCEPT</button>
                </li>
                <li>
                    <!-- 거절 버튼 -->
                    <button class="refuse_btn" type="button">REFUSE</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="request_friend_section">
        <div class="request_friend_img">
            <!-- 친구 프로필 이미지 -->
        </div>
        <div class="request_friend_info">
            <div class="request_friend_name">
                each 걸면 지울 칸
                <!-- 요청 보낸 친구 이름 -->
            </div>
            <div class="request_friend_nationality">
                Japan
                <!-- 요청 보낸 친구 국적 -->
            </div>
        </div>
        <div class="request_friend_btn">
            <ul>
                <li>
                    <!-- 수락 버튼 -->
                    <button class="accept_btn" type="button">ACCEPT</button>
                </li>
                <li>
                    <!-- 거절 버튼 -->
                    <button class="refuse_btn" type="button">REFUSE</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="request_friend_paging">
        <!-- 페이징 영역-->
    </div>
</div>