@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-style: none;
    list-style: none;
    text-decoration: none;
    color: black;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 5000px;
    background-color: #cccccc;
}

.menu {
    top: 200px;
    width: 50px;
    height: 150px;
    position: fixed;
    border: 1px solid black;
    background-color: green;
    z-index: 100;
}

.category {
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: aquamarine;
    display: block;
    top: 200px;
    left: 0%;

}

.category ul {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: greenyellow;
}

/* board */
.board_container {
    background-color: tan;
    width: 850px;
    height: 1200px;
    display: block;
    left: 100%;
    top: 200px;
    transform: translateX(-100%);
    position: absolute;
}

/* board_search */
.board_search {
    background-color: pink;
    border: 1px solid black;
}

/* board_content */
.board_content {
    width: 100%;
    height: 1000px;
    background-color: firebrick;
}

.board_content li {
    display: flex;
    float: left;
    width: 44%;
    height: 29%;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #fff;
    margin: 2%;
    flex-direction: column;
    align-items: center;
}

.board_content li a {
    width: 100%;
    height: 100%;
    padding: 10% 10%;
}

/* board(임시) */
/* categorys(임시) */
.categorys {
    border: 1px solid black;
    width: 100%;
    height: 30px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.categorys div {
    background-color: #cccccc;
    border: 1px solid black;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

/* content(임시) */
.content {
    display: block;
    border: 1px solid black;
    height: 100px;
}

.profile_img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.writer_profile {
    display: inline-block;
    width: calc(100% - 70px);
    height: 50px;
    border: 1px solid black;
}

.board_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}