<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="content">
	<h1>content</h1>

<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
        <!-- style CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/board_style.css}">
		<title>Board - FREE</title>
	</head>

	<body>
        
		<div class="container">
			<!-- 임시nav -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">#Penpl</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
								<a class="nav-link" sec:authorize="isAuthenticated()"
									th:href="@{/member/logout}">로그아웃</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" sec:authorize="isAnonymous()" href="/member/signup">회원가입</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- //임시nav -->
			<div class="menu">MENU</div>
			<div class="category">
				<ul>
					<li><a th:href="@{/board/list}">ALL</a></li>
					<li><a th:href="@{/category/FREE}">FREE</a></li>
					<li><a th:href="@{/category/FREE}">GAME</a></li>
					<li><a th:href="@{/category/FREE}">TRAVEL</a></li>
				</ul>
			</div>
			<!-- board -->
			<div class="board_container">
				<!-- search -->
				<div class="board_search">
					<div class="board_searching_box">
						<label name="search"></label>
						<input type="text">
						<button href="#">돋보기아이콘</button>
					</div>
					<select name="location" id="location" th:field="*{location}">
						<option value="" selected>Location</option>
						<option th:each="location : ${location}" th:value="${location.name}" th:text="${location.name}">
						</option>
					</select>
					<select name="country" id="country" th:field="*{country}">
						<option value="" selected>Country</option>
						<option th:each="country : ${country}" th:value="${country.name}" th:text="${country.name}">
						</option>
					</select>
				</div>
				<!-- //search -->
				<!-- board_list -->
				<ul class="board_content">
					<li th:each="board, loop : ${paging}" class="text-center">
						<a th:href="@{|/board/detail/${board.id}|}" class="text-start">
							<div class="categorys">
								<div th:text="${board.category}"></div>
								<div th:text="${board.location}"></div>
								<div th:text="${board.country}"></div>
							</div>
							<div class="profile">
								<div class="profile_img"></div>
								<div class="writer_profile">
									<span th:if="${board.author != null}" th:text="${board.author.userId}"></span>
									<div class="board_title">
										<div th:text="${board.title}"></div>
										<div class="img_preview"><img
												src="	https://icon-library.com/images/preview-icon-png/preview-icon-png-18.jpg"
												alt="preview" style="width: 20px;"></div>
									</div>
								</div>
							</div>
							<!-- 페이징 -->
							<!-- <div th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></div> -->
							<div th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>
							<div class="content" th:text="${board.content}"></div>
						</a>
					</li>
					<!-- //board_list -->
				</ul>
				<!-- 페이징처리 시작 -->
				<div th:if="${!paging.isEmpty()}">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
							<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
								<span>이전</span>
							</a>
						</li>
						<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
							th:if="${page >= paging.number-2 and page <= paging.number+2}"
							th:classappend="${page == paging.number} ? 'active'" class="page-item">
							<a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
						</li>
						<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
							<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
								<span>다음</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- 페이징처리 끝 -->
				<!-- UPLOD button -->
				<a th:href="@{/board/create}" class="btn btn-primary">UPLODE</a>
				<!-- //UPLOD button -->

			</div>
			<!-- //board -->
		</div>
	</body>
    

	</th:block>
</html>