<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#Penpal</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="wrap">
        <header id="header" class="potion">
            <h1 class="header_logo">
                <a href="/">#Penpal</a>
            </h1>
            <div class="header_navi">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/community">Community</a></li>
                </ul>
            </div>
            <div class="header_language">
                <ul>
                    <li>
                        <select>
                            <option value="Languages">Languages</option>
                            <option value="Korean">Korean</option>
                            <option value="English">English</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Chinese">Chinese</option>
                            <option value="French">French</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="header_login">
                <a href="/login">Login</a>
            </div>
        </header>
        <section id="community_section01" class="potion">
            <div class="community_text">
                <h1>Community</h1>
                <h3>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.
                </h3>
            </div>
            <div class="search">
                <input type="text" placeholder="Search">
                <button></button>
            </div>
            <div class="search_nationality">
                <ul>
                    <li>
                        <select class="nation_select">
                            <option value="Nationality">Nationality</option>
                            <option value="Korean">Korea</option>
                            <option value="United States">United States</option>
                            <option value="Japan">Japan</option>
                            <option value="China">China</option>
                            <option value="France">France</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="search_country">
                <ul>
                    <li>
                        <select class="country_select">
                            <option value="Country">Country</option>
                            <option value="Korean">Korea</option>
                            <option value="United States">United States</option>
                            <option value="Japan">Japan</option>
                            <option value="China">China</option>
                            <option value="France">France</option>
                        </select>
                    </li>
                </ul>
            </div>
        </section>
        <section id="community_sectino02">
            <div class="community_contents">
                <div class="community_category">
                    <ul>
                        <li><button><span>ALL</span></button></li>
                        <li><button><span>FREE</span></button></li>
                        <li><button><span>Q&A</span></button></li>
                        <li><button><span>TRAVEL</span></button></li>
                    </ul>
                </div>
                <div class="community_bbs">
                    <div class="community_view view01">
                        
                    </div>
                    <div class="community_view view02">
                        
                    </div>
                    <div class="community_view view03">
                        
                    </div>
                    <div class="community_view view04">
                        
                    </div>
                    <div class="community_view view05">
                        
                    </div>
                    <div class="community_view view06">
                        
                    </div>
                </div>
            </div>  
            <div class="community_bbs_paging">
                <ul class="pagination">
                    <li><</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>></li>
                </ul>
            </div>
            <div class="community_write">
                <a href="#">
                <button type="button" class="create_write" title="Write">
                    Write
                </button>
                </a>
            </div>
        </section>
    </div>
</body>
</html>