<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div id="wrap">
        <section id="section01" class="potion">
            <div class="top_contents">
                <div class="tc_left">
                    <h1>Welcome to<br><span>#Penpal</span></h1><br><br>
                    <h3>This website is 'Trendy Penpaling Website',<br>Regist your Profile, and Find new friends!</h3>
                    <br><br>
                    <a href="/member/signup" sec:authorize="isAnonymous()">START NOW!</a>
                    <a th:href="@{|/users/profile/${loginMember.id}|}" sec:authorize="isAuthenticated()">Regist Profile!</a>
                </div>
                <div class="tc_right">
                    <a href="#">
                        <img src="/images/penpal_banner.png" alt="Banner Image">
                    </a>
                </div>
            </div>
        </section>
        <section id="section02" class="potion">
            <div class="middle_contents">
                <h2><a href="/users">More new friends<span><i class="fas fa-arrow-right"></i></span>
                    </a></h2>
                <div>
                    <ul class="profile_list">
                    	<th:block th:each = "member : ${recentMember}">
                        	<li><a href="#">[[${member.getName()}]]</a></li>
                    	</th:block>
                    </ul>
                </div>
            </div>
        </section>
        <section id="section03">
            <div class="middle_infodata">
                <div class="info01">
                    <div>All accounts<br>
                        <h2>[[${memberCount}]]</h2>
                    </div>
                </div>
                <div class="info02">
                    <div>Online users<br>
                        <h2>[[${onlineMemberCount}]]</h2>
                    </div>
                </div>
                <div class="info03">
                    <div>Sending Messages<br>
                        <h2>[[${messageCount}]]</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="section04">
            <div class="bottom_contents">
                <div class="continent_count">
                    <span class="asia_count">
                        100
                    </span>
                    <span class="north_america_count">
                        100
                    </span>
                    <span class="south_america_count">
                        100
                    </span>
                    <span class="europe_count">
                        100
                    </span>
                    <span class="africa_count">
                        100
                    </span>
                    <span class="oceania_count">
                        100
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>

</html>