<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#Penpal</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="wrap">
        <header id="header" class="potion">
            <h1 class="header_logo">
                <a href="/">#Penpal</a>
            </h1>
            <div class="header_navi">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/community">Community</a></li>
                </ul>
            </div>
            <div class="header_language">
                <ul>
                    <li>
                        <select>
                            <option value="Languages">Languages</option>
                            <option value="Korean">Korean</option>
                            <option value="English">English</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Chinese">Chinese</option>
                            <option value="French">French</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="header_login">
                <a href="/login">Login</a>
            </div>
        </header>
        <section id="section01" class="potion">
            <div class="top_contents">
                <div class="tc_left">
                    <h1>Welcome to<br><span>#Penpal</span></h1><br><br>
                    <h3>This website is 'Trendy Penpaling Website',<br>Regist your Profile, and Find new friends!</h3><br><br>
                    <a href="/sign_up">START NOW!</a>
                </div>
                <div class="tc_right">
                    <a href="#">Banner IMG Here</a>
                </div>
            </div>
        </section>
        <section id="section02" class="potion">
            <div class="middle_contents">
                <h2><a href="#">More new friends
                    <span> -></span>
                </a></h2>
                <div>
                    <ul class="profile_list">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="section03">
            <div class="middle_infodata">
                <div class="info01">
                    <div>All accounts<br>
                        <h2>40k++</h2>
                    </div>
                </div>
                <div class="info02">
                    <div>Online users<br>
                        <h2>90000+</h2>
                    </div>
                </div>
                <div class="info03">
                    <div>Sending Messages<br>
                        <h2>110k++</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="section04">
            <div class="bottom_contents">
            </div>
        </section>
    </div>
</body>
</html>