<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#Penpal</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="wrap">
        <header id="header" class="potion">
            <h1 class="header_logo">
                <a href="/">#Penpal</a>
            </h1>
            <div class="header_navi">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/community">Community</a></li>
                </ul>
            </div>
            <div class="header_language">
                <ul>
                    <li>
                        <select>
                            <option value="Languages">Languages</option>
                            <option value="Korean">Korean</option>
                            <option value="English">English</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Chinese">Chinese</option>
                            <option value="French">French</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="header_login">
                <a href="/login">Login</a>
            </div>
        </header>
       
    </div>
</body>
</html>